# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.dll
WpfApplication1/obj/x86/Debug/WpfApplication1.csproj.GenerateResource.Cache
*.cache
*.suo
WpfApplication1/bin/Debug/WpfApplication1.vshost.exe
*.pdb
WpfApplication1/obj/x86/Debug/App.g.cs
WpfApplication1/obj/x86/Debug/MainWindow.g.i.cs
*.exe
WpfApplication1/obj/x86/Debug/WpfApplication1.Properties.Resources.resources
*.baml
WpfApplication1/obj/x86/Debug/App.g.i.cs
